/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2014, 9:24:01 AM
    Author     : vukm
*/

@charset "UTF-8";

@import "../reindeer/styles.css";

input#geominus, input#geoplus, input#geoLevelLabel {
    vertical-align: middle;
}

#dim-btn-layout > div > div > div {
    /*width: 100%;*/
}

/*.estald-window .v-margin-left { padding-left: 0}
.estald-window .v-margin-right { padding-right: 0}
.estald-window .v-margin-top { padding-top: 0}
.estald-window .v-margin-bottom { padding-bottom: 0}*/

.estald-window .v-verticallayout-margin {
    padding: 0;
}

div#l-settings .v-label.v-label-undef-w {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

div#l-brand .v-button {
    text-transform: uppercase;
}

/*div#l-brand .v-button .v-button-caption {
    font-size: 13px;
}*/

#l-settings .v-verticallayout-margin {
    padding: 18px;
}

#l-content .v-verticallayout-margin {
    padding: 18px;
}

.l-content-inspect .v-verticallayout-margin {
    padding: 18px;
}

.inspect-component .v-verticallayout-margin {
    padding: 0px;
}

#l-brand {
    background: #4AA6FF;
}

#l-content {
    background: white;
}

#brand {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #777979;
}

.settings-separator hr {
    border-width: 2px;
    border-color: #B9B9B9;
}

/*#l-settings, #l-content {
    padding: 15px 11px;
}*/

div#l-settings {
    border-top: 1px solid #B1B1B1;
    box-shadow: 0 0 7px 0 #B1B1B1 inset;
}

#l-geo v-horizontallayout-margin{
    padding: 0 3px;
}

.estald-window .v-button {
    background-image: none;
    border: 1px solid;
    border-radius: 3px;
    border-color: grey;
    background-color: whitesmoke;
    /*margin-left: 11px;*/
}

.estald-window .v-button .v-button-wrap {
    background-image: none;
}

.v-button.v-button-dim-name.dim-name.v-button-selected.selected {
    background-color: #B5E0FF;
    /*background-color: #B7D6FF;*/
    background-image: none;
    border-radius: 3px;
    border: 1px solid;
    border-color: grey;
}

.v-button.v-button-dim-name.dim-name.v-button-unselectable.unselectable {
    background-color: lightgray;
    background-image: none;
    border-radius: 3px;
    border: 1px solid;
    border-color: grey;
}

.v-button.v-button-dim-name.dim-name {
    background-image: none;
    background: white;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid;
    border-color: grey;
}

.v-button.v-button-dim-name.dim-name .v-button-wrap {
    background-image: none;
    /*background: white;*/
}

.v-button.v-button-geo-name.geo-name.v-button-selected.selected {
    background-color: #B5E0FF;
    /*background-color: #B7D6FF;*/
    background-image: none;
    border-radius: 3px;
    border: 1px solid;
    border-color: grey;
}

.v-button.v-button-geo-name.geo-name {
    background-image: none;
    background: white;
    border-radius: 3px;
    border: 1px solid;
    border-color: grey;
}

.v-button.v-button-geo-name.geo-name .v-button-wrap {
    background-image: none;
}

.v-tree-node-caption.v-tree-node-caption-highlight {
    background-color: #BCD3DE;
}

.v-menubar.v-menubar-dsd.dsd {
    /*background: transparent;*/
    color: whitesmoke;
}

/*.v-menubar-menuitem.v-menubar-menuitem-bleja {
    background: #197ad9;
}*/

.v-menubar-menuitem.v-menubar-menuitem-selected {
    /*background: #2c96ff;*/
    background: transparent;
    color: white;
    font-weight: bolder;
}

.v-verticallayout.v-verticallayout-hidden.hidden {
    display:none;
}

#esta-modal {
    display: none;
    background: rgba(198, 198, 198, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900000;
}

#esta-modal img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
    z-index: 900001;
}

#esta-modal i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 128px;
    margin-top: -64px;
    margin-left: -64px;
    color: #4AA6FF;
    z-index: 900001;
}

.v-label.dim-name.dim-aggreg span {
    line-height: 25px;
}

.v-label.dim-name.dim-aggreg {
    text-align: center;
    border: 1px solid grey;
    border-radius: 3px;
    background: white;
}

.v-label.dim-name.dim-aggreg.selected {
    background-color: #B5E0FF;
}

div#esta-map-popup {
    background: white;
    color: black;
    position: absolute;
    display: none;
    top: 60px;
    right: 30px;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px gray;
    padding-left: 15px;
    z-index: 90000;
    overflow-x: hidden;
}

div#esta-map-popup p {
    margin: 25px 0;
    line-height: 25px;
}

body, html {
    position: relative;
    height: 100%;
}

div#popup-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: gray;
    display: none;
    z-index: 50000;
}

div#popup-measures {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 50001;
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0 0 10px lightgray;
}

#popup-measures ul {
    padding: 5px 0;
    margin: 0;
}

#popup-measures ul.choices {
    border-bottom: 1px solid #B1B1B1;
}

#popup-measures li {
    list-style: none;
    padding: 5px 15px;
}

#popup-measures li:hover {
    background: #E2E2E2;
}

.selected-measure {
    background: #B5E0FF;
}
