/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2014, 9:24:01 AM
    Author     : vukm
*/

@charset "UTF-8";

@import "../reindeer/styles.css";

#dim-btn-layout > div > div > div {
    /*width: 100%;*/
}

.v-button.v-button-dim-name.dim-name.v-button-selected.selected {
    background-color: lightblue;
    background-image: none;
    border-radius: 50px;
    border: 1px solid;
    border-color: grey;
}

.v-button.v-button-dim-name.dim-name {
    background-image: none;
    border-radius: 50px;
    border: 1px solid;
    border-color: grey;
}

.v-button.v-button-dim-name.dim-name .v-button-wrap {
    background-image: none;
}

.v-button.v-button-geo-name.geo-name.v-button-selected.selected {
    background-color: lightblue;
    background-image: none;
    border-radius: 50px;
    border: 1px solid;
    border-color: grey;
}

.v-button.v-button-geo-name.geo-name {
    background-image: none;
    border-radius: 50px;
    border: 1px solid;
    border-color: grey;
}

.v-button.v-button-geo-name.geo-name .v-button-wrap {
    background-image: none;
}

.v-tree-node-caption.v-tree-node-caption-highlight {
    background-color: #BCD3DE;
}

.v-menubar.v-menubar-dsd.dsd {
    /*background: transparent;*/
    color: whitesmoke;
}

/*.v-menubar-menuitem.v-menubar-menuitem-bleja {
    background: #197ad9;
}*/

.v-menubar-menuitem.v-menubar-menuitem-selected {
    /*background: #2c96ff;*/
    background: transparent;
    color: white;
    font-weight: bolder;
}

.v-verticallayout.v-verticallayout-hidden.hidden {
    display:none;
}
